header {
	background-color: white;
	padding: 20px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	
}


.container{
	width: 1466px;
	margin: 0 auto;
	
}

li {
	display: inline-block;
	margin-right: 35px;
}

}
nav {
	display: inline-block;
	vertical-align: middle;
	

}

li a {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	
}

a img{
	display: inline-block;
	vertical-align: middle;
}
.sec{
	margin-top: 76px;
}
h1{
	width: 1466px;
	margin: 0 auto;
	
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;

}
